<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
	">
	
	<!-- 
	Starting in CXF 2.4.0, the extensions are loaded internally by CXF automatically 
	and you do not need to import all the cxf-extension-*.xml file. 
	You only need to import classpath:META-INF/cxf/cxf.xml. 
	-->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
 	
 	<!-- usernameToken -->
 	<jaxws:endpoint address="/sayHi" id="sayHi"
		implementor="org.goffee.cxf.server.services.impl.SayHiServiceImpl">
		
		<jaxws:properties>
			<entry key="ws-security.callback-handler" value-ref="passwordCallback" />
		</jaxws:properties>
		
		<!--Added interceptor below -->
		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
				<constructor-arg>
					<map>
						<entry key="action" value="UsernameToken" />
						<entry key="passwordType" value="PasswordText" />
						<entry key="passwordCallbackRef" value-ref="passwordCallback" />
					</map>
				</constructor-arg>
			</bean>
		</jaxws:inInterceptors>
		
	</jaxws:endpoint> 
 	
 	<!-- 配置服务端方法所在的类及数字签名 signature only -->
	<jaxws:endpoint id="HelloWorldService" implementor="org.goffee.cxf.server.services.impl.HelloWorldServiceImpl"
		address="/helloworld">
		
		<!-- 通过拦截器对客户端发送的数据和签名进行解密处理 -->
		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
				<constructor-arg>
					<map>
						<entry key="action" value="Signature" /><!-- 加密/解密方式  -->
						<entry key="signaturePropFile" value="org/goffee/cxf/server/ca/server_for_signature_only_sign.properties" />
					</map>
				</constructor-arg>
			</bean>
		</jaxws:inInterceptors>
		
	</jaxws:endpoint>
 
	<!-- 配置服务端方法所在的类及数字签名 -->
	<jaxws:endpoint id="TestWebService" implementor="org.goffee.cxf.server.services.impl.TestWebServiceImpl"
		address="/wstest">
		
		<!-- 通过拦截器对客户端发送的数据和签名进行解密处理 -->
		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
				<constructor-arg>
					<map>
						<entry key="action" value="UsernameToken Timestamp Signature Encrypt" /><!-- 加密/解密方式  -->
						<entry key="passwordType" value="PasswordText" />
						<!-- server.properties -->
						<entry key="signaturePropFile" value="org/goffee/cxf/server/ca/server.properties" />
						<entry key="decryptionPropFile" value="org/goffee/cxf/server/ca/server.properties" />
						<entry key="passwordCallbackRef" value-ref="passwordCallback" />
					</map>
				</constructor-arg>
			</bean>
		</jaxws:inInterceptors>
		
		<!-- 通过拦截器将服务端发送给客户端的数据和签名进行加密 -->
		<jaxws:outInterceptors>
			<bean class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
				<constructor-arg>
					<map>
						<!-- 加密/解密方式  -->
						<entry key="action" value="Timestamp Signature Encrypt" />
						<!-- 服务端证书别名 -->
						<entry key="signatureUser" value="serverAlias" />
						<entry key="signaturePropFile" value="org/goffee/cxf/server/ca/server.properties" />
						<!-- 使用useReqSigCert时，则会使用客户端请求证书加密 -->
						<entry key="encryptionUser" value="useReqSigCert" />
						<entry key="passwordCallbackRef" value-ref="passwordCallback" />
					</map>
				</constructor-arg>
			</bean>
		</jaxws:outInterceptors>
		
	</jaxws:endpoint>
	
	<bean id="passwordCallback" class="org.goffee.cxf.server.callback.UTPasswordServerCallBack" />
</beans>